.news {
    margin-top: 0
}

.news-item {
    width: 100%;
    height: auto;
    transition: .1s ease-in-out
}

.news-item-title {
    width: 100%;
    min-height: 50px;
    font-size: 23px;
    line-height: 50px;
    color: #34373f;
    font-weight: 700
}

.news-item-title-txt {
    margin-left: 20px
}

.news-item-content-by-date {
    font-size: 15px;
    margin-bottom: 5px;
    color: #277c9b;
    min-height: 40px
}

.news-item-content-by-date span {
    float: right;
    color: #34373f
}

.news-item-content-by-date a {
    color: #e45641
}

.news-item-content {
    border: solid #ccc;
    border-width: 0 1px 1px;
    padding: 16px;
    font-size: 18px
}

.news-item-content-bottom {
    width: 100%;
    height: 40px
}

.news-item-content-btn {
    min-width: 120px;
    height: 40px;
    float: right;
    background: #277c9b;
    margin-bottom: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    padding: 0 10px
}

.news-item img {
    max-width: 100%
}

.ip-header {
    height: 50px;
    width: 100%;
    background: #d68ad4;
    text-align: center;
    font-size: 22px;
    color: #34373f;
    line-height: 50px;
    font-weight: 700
}

.ip-item {
    height: 50px;
    width: calc(100% - 2px);
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    font-weight: 700;
    color: #34373f;
    border: solid #ccc;
    border-width: 0 1px 1px
}

.iip-border {
    border-bottom: 1px solid;
    border-color: #ffcd54
}

.option {
    width: 100%
}

.option-header {
    height: 50px;
    width: 100%;
    background: #ffcd54;
    text-align: center;
    font-size: 22px;
    color: #000;
    line-height: 50px;
    font-weight: 700
}

.social-btn {
    width: 33.33%;
    padding-bottom: 33.33%;
    transition: width .2s ease-in-out;
    text-align: center;
    color: #fff;
    padding: 5% 0;
    float: left
}

.social-btn i {
    padding: 10% 0
}

.browser {
    background: #cd97cf
}

.discord {
    background: #3b5998
}

.other {
    background: #491741
}

.ram-usage {
    background: #d14949
}

.keys {
    background: #d0d326
}

.logout {
    background: #26d374
}

.uuid {
    background: #71d4f2
}

.slider {
    height: 622px;
    max-height: 622px;
    width: 100%;
    float: left;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -ms-padding-start: 0;
    -o-padding-start: 0;
    -khtml-padding-start: 0;
    padding-top: 83px
}

.slider li {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center
}

.slider li .cover .info {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px)
}

.slider li.active .cover .info {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px)
}

.bx-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    *zoom: 1;
    height: 60vw;
    max-height: 530px;
    margin-top: 0 !important;
    overflow: auto
}

.bx-wrapper img {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block
}

.bx-wrapper .bx-viewport {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    height: 100% !important
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 0;
    width: 100%
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../../css/images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100
}

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: 700;
    color: #666;
    padding-top: 20px
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    box-shadow: inset 3px 3px 3px #7f7f7f
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #3397bc;
    box-shadow: inset 3px 3px 3px #1d5569
}

.bx-wrapper .bx-prev {
    left: 20px;
    background: url(../images/prev.png) no-repeat -15px 0
}

.bx-wrapper .bx-next {
    right: 20px;
    background: url(../images/next.png) no-repeat 0 0
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 45%;
    outline: 0;
    width: 32px;
    height: 52px;
    text-indent: -9999px;
    z-index: 90
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none
}

.bx-wrapper .bx-controls-auto {
    text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(https://badlion.net/images/controls.png) -86px -11px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(https://badlion.net/images/controls.png) -86px -44px no-repeat;
    margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, .75);
    width: 100%
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px
}

.slidepic {
    width: 100%;
    position: relative;
    height: 100%
}

.slidepic .container {
    height: 100%
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}

.cover .info {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    text-align: center;
    padding: 0 60px
}

.cover h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase
}

.cover p {
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 20px
}

@media(max-width:800px) {
    .cover h1 {
        font-size: 6.5vw
    }

    .content-title-left {
        line-height: 60px;
        font-size: 22px;
        height: auto
    }

    .news-item-title {
        height: 46px;
        font-size: 18px;
        line-height: 46px;
        overflow: hidden
    }

    .news-item-content {
        font-size: 14px
    }

    .news-item-content-by-date {
        font-size: 12px
    }

    .news-item-content-by-date span {
        display: block;
        float: none
    }

    .ip-header {
        text-align: left;
        padding-left: 20px;
        font-size: 18px;
        height: 46px;
        line-height: 46px;
        box-sizing: border-box
    }

    .ip-item {
        height: 46px;
        line-height: 46px;
        font-size: 18px
    }
}

@media(max-width:600px) {
    .bx-wrapper .bx-controls-direction a {
        transform: scale(.8)
    }

    .bx-wrapper .bx-prev {
        left: 12px
    }

    .bx-wrapper .bx-next {
        right: 12px
    }

    .cover p {
        font-size: 12px;
        line-height: 16px;
        margin: 4px 0
    }
}

@media(max-width:625px) {
    .content-title-left {
        margin-left: 12px
    }
}

.index-iframe {
    top: 130px;
    right: 150px;
    z-index: 100;
    height: 500px;
    width: 400px;
    position: fixed
}