.popup .popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000000ee;
    z-index: 1;
    display: none;
}

.popup .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #1a1a1a;
    color: #ffd8ff;
    width: 500px;
    min-height: 250px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.popup .popup-close-btn {
    cursor: pointer;
    position: fixed;
    right: -13px;
    top: -13px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: #1a1a1a;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    border-radius: 50%;
}

.popup.popup-active .popup-overlay {
    display: block;
}

.popup.popup-active .popup-content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}